<section id="side-menu" [ngClass]="{ show: show }">
  <div class="button-container justify-content-center" (click)="toggleMenu()">
    <span><i class="bi bi-list"></i> </span>
  </div>
  <div
    [routerLink]="['/dashboard']"
    class="button-container"
    [ngClass]="{ 'justify-content-center': !show }"
  >
    <i class="bi bi-controller"></i>
    <span *ngIf="show">Games</span>
  </div>
  <div
    [routerLink]="['categories']"
    class="button-container"
    [ngClass]="{ 'justify-content-center': !show }"
  >
    <i class="bi bi-collection"></i>
    <span *ngIf="show">Categories</span>
  </div>

  <div
    [routerLink]="['genres']"
    class="button-container"
    [ngClass]="{ 'justify-content-center': !show }"
  >
    <i class="bi bi-menu-button-wide"></i>
    <span *ngIf="show">Genres</span>
  </div>

  <div
    [routerLink]="['platforms']"
    class="button-container"
    [ngClass]="{ 'justify-content-center': !show }"
  >
    <i class="bi bi-pc"></i>
    <span *ngIf="show">Platforms</span>
  </div>
</section>
