.element-link {
  text-decoration: none;

}

.element-link:hover {
  .card {
    border: 1px solid #ba68c8;
    transform: translateY(-5px);

  }

}

.card {
  margin-top: 8px;
  margin-bottom: 8px;
  color: black;
  transition: transform 0.5s;
  min-height: 550px;
  overflow: hidden;
  .icontainer{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  img {
    height: 170px;
    object-fit: cover;
  }
  .platform{
    width: 100%;
    height: 60px;
    object-fit:fill;

  }
}
