<a [routerLink]="['game',game.id]" class="element-link" href="#">
  <div class="card">
    <img [src]="game.picture" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{game.title}}</h5>
      <p class="card-text">{{game.description.length>100?(game.description | slice:0:100)+' ...' :game.description}}</p>
      <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <strong>Genres: </strong> <span *ngFor="let genre of game.genres">
            {{genre.title}}
          </span>
          </div>
          <div class="col-6">
            <strong>Categories: </strong> <span *ngFor="let category of game.categories">
            {{category.title}}
          </span>
          </div>
        </div>
        <div class="row mt-5">
          <div *ngFor="let platform of game.platforms" class="col-6">
            <img class="platform" [src]="platform.image"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</a>
