<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <img class="img-cover" src="https://www.mobygames.com/images/shots/l/91184-world-of-warcraft-windows-screenshot-creating-your-character.png" alt="">
    </div>
  </div>
  <div class="row justify-content-between mt-5">
    <div class="col-3 position-relative">
      <img class="img-fluid img-profile" src="https://www.mobygames.com/images/covers/l/38593-world-of-warcraft-macintosh-front-cover.jpg" alt="">
    </div>
    <div class="col-8">
      <h3>WOW</h3>
      <p class="text-justify">
        World of Warcraft is a MMORPG based in the Warcraft universe. The player creates a character choosing from 8 races and 9 classes. Most races start in their own part of the vast world. As the races move out from their starting locations, they can meet the other races if they choose to move out through the world. Both races and classes have unique abilities, skills, and spells to help them survive in the world.

        The game offers professions for players to learn, if they want. You have the choice of 2 major professions, such as Alchemy, Herbalism, Skinning, and Tailoring, as well as the ability to have unlimited minor professions, such as Fishing and Cooking. Progressing in these skills allows you to make more things or have better results from the skills.

      </p>
    </div>
  </div>
</div>
